#logo {
    width: 20%;
    margin-left: 50%;
    margin-top: 15px;
    /* gap: 10px; */
}

#init {
    display: flex;
    gap: 10px;
}

#cata {
    display: flex;
    justify-content: space-around;
    /* gap: 10px; */
}

#search {
    padding: 0.5rem;
    margin-top: 10px;
}
