.shop_btn {
    background-color: black;
    color: whitesmoke;
    border: none;
    font-weight: bolder;
    padding: 0.5rem 2rem 0.5rem 2rem;
}

.shop_btn:hover {
    background-color: whitesmoke;
    color: black;
    border: none;

}

#in {
    margin-left: 5%;
    margin-top: 5%;
    width: 50%;
}

#Email_in {
    padding: 0.5rem 2rem 0.5rem 2rem;
}



#get_logo {
    display: flex;
    width: 20%;
}

#get_logo img {
    width: 60%;
}

#about {
    display: flex;
    margin-right: 25%;
    margin-top: 5%;
    width: 50%;

}

#footer {
    width: 100%;
    display: flex;
}

#last {
    width: 100%;
}